@model  IEnumerable<Question2.AshutoshNayak.eClerx.ModuleTest_4.Models.BookDetails>
@{
    ViewBag.Title = "Index";
}

<h2>Product Details</h2>
<table class="table table-striped table-hover">
    <tr>
        <th>Id</th>
        <th>ISBN</th>
        <th>Book Name</th>
        <th>Genre</th>
        <th>Author Name</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.ISBN</td>
            <td>@item.BookName</td>
            <td>@item.Genre</td>
            <td>@item.AuthorName</td>
        </tr>

    }
        </table>

